<form name="container-form" method="POST" action="/courses/handle-form-actions" class="mt-4">
    <div>
        <h3>My stuffs</h3>
        <a href="/me/trash/courses">My trash can ({{deletedCount}})</a>
    </div>
    <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Choose all
            </label>
        </div>
        <select class="form-select form-select-sm checkbox-select-all-options" aria-label="Default select example"
            name="action" required>
            <option selected value="">Open this select menu</option>
            <option value="delete">Delete</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div class="button btn btn-primary btn-sm btn-check-all-submit disabled">Apply</div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col" colspan="2">Create at</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a class="btn btn-primary" href="/courses/{{this._id}}/edit" role="button">Edit</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-modal" href="#" role="button">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    It nothing here
                    <a href="/courses/create">Add some stuffs</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete --}}
<div id="delete-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete this?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want delete this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btn-delete" type="button" class="btn btn-primary">Delete anyway</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-form" method="post"></form>

<script>
    const exampleModal = document.getElementById('delete-modal')
    document.addEventListener('DOMContentLoaded', function () {
        var id;
        var btnDelete = document.getElementById('btn-delete');
        var deleteForm = document.forms['delete-form'];
        var containerForm = document.forms['container-form'];
        var btnRestore = $('.btn-restore');
        var restoreForm = document.forms['restore-form'];
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-all-submit');

        $('#delete-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            id = button.data('data-id')
        });

        btnDelete.onclick = function () {
            deleteForm.action = '/courses/' + id + '?_method=DELETE';
            deleteForm.submit();
        }

        // Checkbox all changed
        checkboxAll.change(function () {
            var isCheckAll = $(this).prop('chhecked');
            courseItemCheckbox.prop('checked', isCheckAll);
        });

        // Course item checkbox changed
        courseItemCheckbox.change(function () {
            var isCheckAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop('checked', isCheckAll);
        });

        // Check all submit button clicked
        checkAllSubmitBtn.on('submit', function (event){
            var isSubmitable = !$(this).hasClass('disabled');
            if (!isSubmitable){
                event.preventDefault();
            }
        });

        // Re-render check all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length;
            if (checkedCount > 0) {
                checkAllSubmitBtn.removeClass('disabled');
            } else {
                checkAllSubmitBtn.addClass('disabled');
            }
        }
    }

</script>